.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust spacing between cards */
    gap: 20px; /* Space between cards */
    padding: 20px; /* Padding around the container */
    box-sizing: border-box; /* Ensure padding is included in the total width */
  }
  
  .feature-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    flex: 1 1 calc(50% - 20px); /* Adjust to fit two cards per row with a gap */
    box-sizing: border-box; /* Ensure padding is included in the total width */
    overflow: hidden; /* Ensure content doesn't overflow */
  }
  
  .feature-card h3 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: bold;
    word-wrap: break-word; /* Allow long words to break onto the next line */
  }
  
  .feature-card p {
    margin-bottom: 0;
    word-wrap: break-word; /* Allow long words to break onto the next line */
  }
  

  .search-bar {
    background-color: #E6E7F4;
    padding: 60px 20px;
    text-align: center;
  }
  
  .search-bar h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #000;
  }
  
  .search-input-container {
    display: inline-flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-input-container input {
    flex: 1;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    outline: none;
    border-radius: 50px 0 0 50px;
  }
  
  .search-input-container button {
    background-color: #000;
    color: #fff;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0 50px 50px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-input-container button:hover {
    background-color: #444;
  }
  